<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShoppingBuyAll.Properties.Settings.ConnectionStringInformeClientes"
            connectionString="Provider=SQLNCLI11;Data Source=LAPTOP-N1RR57MI;Integrated Security=SSPI;Initial Catalog=Shopping_Buy_All"
            providerName="System.Data.OleDb" />
        <add name="ShoppingBuyAll.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=.;Integrated Security=SSPI;Initial Catalog=Shopping_Buy_All"
            providerName="System.Data.OleDb" />
        <add name="ShoppingBuyAll.Properties.Settings.ConnectionString1"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-81G4FGU\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Shopping_Buy_All"
            providerName="System.Data.OleDb" />
        <add name="ShoppingBuyAll.Properties.Settings.ConnectionString2"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-IE9SHP6\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Shopping_Buy_All"
            providerName="System.Data.OleDb" />
        <add name="ShoppingBuyAll.Properties.Settings.ConnectionString3"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-NBF2L95\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=Shopping_Buy_All"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>